

/*-----------------------------------------------------------------------------------------------------*\
*  Sección de estudios académicos
\*-----------------------------------------------------------------------------------------------------*/

.block-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: $primary; //de bootstrap
  color: white;
  @media ( max-width: $mqMinWidth ) {
    font-size:0.8rem;
    flex-direction: column;
  }
}


.part-small-block1-footer {
  flex:1 ;
  @media ( max-width: $mqMinWidth ) {
    width: 100%;
  }
}


.part-big-block1-footer {
  flex:2 ;
  @media ( max-width: $mqMinWidth ) {
    width: 100%;
  }
}
