
/*-----------------------------------------------------------------------------------------------------*\
*  Objeto 
\*-----------------------------------------------------------------------------------------------------*/



.o-circle-pill {
  flex-basis: 26px;
  flex-shrink: 0; // damos flexibilidad 0 para mantener siempre el circulo y no se ahueve
  width: 26px;
  height: 26px;
  font-size: 15px;
  color: $primary;
  text-align: center;
  background-color: #fff;
  border: 1px solid $primary;
  border-radius: 100rem;
}

.o-video-item-band {
  position: relative;
  display: inline;
  float: left;
  width: 100%;
  height: auto;
  padding-right: 1vw;
  clear: both;
  border-radius: 4px;
}