


<header>
    
    <div class="g-logo">
        <a href="index.html"><i class="fa-solid fa-copyright" ></i></a>
        <a href="index.html" class="u-margin-negative-logo"><strong> Logo</strong></a>
    </div> 

    <div class="g-links-header">
        <a href="bands.html" class="li"><strong>Bandas</strong></a>
        <a href="article.html"><strong>Artículo</strong></a> 
        <a href="misc.html"><strong>Miscelanea</strong></a>
    </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Videos
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="misc.html#eros">Eros Ramazzotti</a></li>
          <li><a class="dropdown-item" href="misc.html#carl-cox">Carl Cox</a></li>
          <li><a class="dropdown-item" href="misc.html#juan">Juan Magán</a></li>
          <li><a class="dropdown-item" href="misc.html#sabaton">Sabaton</a></li>
          <li><a class="dropdown-item" href="misc.html#iron">Iron Maiden</a></li>
          <li><a class="dropdown-item" href="misc.html#joe">Joe Satriani</a></li>
        </ul>
      </div>

</header>